body {
    overflow-y: scroll;
}

.header {
    border: none;

    .logo {
        width: 117px;
        height: 35px;

        cursor: pointer;
    }

    &__container.desktop {
        display: block;
        height: 94px;

        position: initial;

        display: grid;
        grid-template-columns: 117px auto auto auto auto;
        grid-gap: 10px 30px;

        justify-items: center;
        align-items: center;

        padding: 0 75px;

        .menu {
            font-family: 'Raleway', sans-serif;
            font-size: 14px;
            font-weight: 600;

            &__items {
                display: flex;

                .menu__item {
                    position: relative;
                    margin-right: 25px;

                    &:last-child {
                        margin-right: 0;
                    }

                    &.menu__item-buy {
                        &:hover {
                            .submenu__items-buy {
                                display: block;
                                opacity: 1;
                            }

                            >a {
                                border-bottom: 2px solid $accent;
                            }
                        }
                    }

                    &.menu__item-yet {
                        &:hover {
                            .submenu__items-yet {
                                display: block;
                                opacity: 1;
                            }

                            >a {
                                border-bottom: 2px solid $accent;
                            }
                        }
                    }

                    >a {
                        padding: 36px 0;
                        cursor: pointer;

                        &:hover {
                            border-bottom: 2px solid $accent;
                        }
                    }
                }
            }

            .submenu__items {
                position: absolute;
                top: 54px;
                left: -32px;
                z-index: 10;

                padding: 15px;
                background-color: #FFF;
                box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.02);

                &.submenu__items-buy {
                    display: none;
                    // opacity: 0;

                    animation-duration: .4s;
                    animation-name: "submenu-items-show";
                }

                &.submenu__items-yet {
                    display: none;
                    // opacity: 0;

                    animation-duration: .4s;
                    animation-name: "submenu-items-show";
                }

                .submenu__item {
                    padding: 10px 13px;

                    white-space: nowrap;
                    cursor: pointer;
                    transition: .2s ease;

                    &:hover {
                        background-color: #F7F7F7;

                        svg {
                            fill: $accent;
                        }
                    }

                    svg {
                        fill: #D4D4D4;
                        vertical-align: -4px;

                        transition: .2s ease;
                    }
                }
            }
        }

        .yet-block {
            &__grid-container {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 12px;
            }
        }

        .my-location {
            font-family: 'Raleway', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;

            white-space: nowrap;
            cursor: pointer;
            transition: .3s ease;

            padding: 9px 11px;

            &:hover {
                background-color: #F7F7F7;
            }

            &::before {
                content: url('../../../img/icons/menu-icons/location.svg');
                vertical-align: middle;

                width: 12px;
                height: 12px;

                margin-right: 8px;
            }
        }

        .place-an-ad--button {
            white-space: nowrap;
            position: relative;

            .info-icon {
                width: 14px;
                height: 14px;

                vertical-align: -2px;
                margin-left: 5px;

                cursor: pointer;
            }

            .info-icon-prompt {
                display: none;

                white-space: pre-wrap;
                text-align: center;
                z-index: 10;

                position: absolute;
                top: 49px;
                left: 14px;

                width: 330px;
                height: auto;
                background-color: $dark;

                padding: 20px;

                &::before {
                    content: '';
                    position: absolute;

                    width: 0;
                    height: 0;

                    top: -9px;

                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $dark;

                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        .menu-icons {
            display: flex;
            align-items: center;
            margin-top: 3px;

            &__item {
                position: relative;
                margin-right: 20px;

                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                .user-account-icon {
                    .path-one {
                        // transition: .2s ease-out;
                        fill: none;
                    }

                    .path-two {
                        // transition: .2s ease-out;
                        fill: $dark;
                    }

                    &:hover {
                        .path-one {
                            fill: $accent;
                        }

                        .path-two {
                            fill: $accent;
                        }
                    }
                }
            }

            .notifications {
                &-icon {
                    transition: .2s ease-out;

                    .path-one {
                        fill: $dark;
                        display: initial;

                        transition: .2s ease-out;
                    }

                    .path-two {
                        fill: $accent;
                        display: none;

                        transition: .2s ease-out;
                    }

                    &:hover {
                        .path-one {
                            display: none;
                        }

                        .path-two {
                            display: initial;
                        }
                    }
                }

                &__block {
                    position: absolute;
                    top: 80px;
                    right: -50px;

                    display: none;
                    width: 334px;
                    height: auto;

                    padding: 25px;
                    background-color: white;

                    &::before {
                        content: '';

                        position: absolute;
                        top: -20px;
                        right: 50px;

                        border: 10px solid transparent;
                        border-bottom: 10px solid white;
                    }

                    &__message {
                        display: grid;
                        grid-template-columns: 53px auto;
                        grid-gap: 10px 15px;

                        padding-top: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                        &:first-child {
                            padding-top: 0;
                        }

                        &:last-child {
                            padding-bottom: 0;
                            border-bottom: none;
                        }

                        .image {
                            width: 53px;
                            height: 53px;
                        }

                        .notifications-info {
                            align-self: center;

                            .status {
                                font-weight: 600;
                                font-size: 10px;
                                color: $dark;

                                opacity: 0.4;
                                margin-bottom: 3px;
                            }

                            .title {
                                font-weight: 600;
                                font-size: 14px;
                            }

                            .message {
                                font-size: 12px;
                                margin-top: 7px;

                                .price-status {
                                    opacity: .5;
                                }
                            }
                        }
                    }
                }

                &-status {
                    position: absolute;
                    top: -1px;
                    right: -3px;

                    // display: block;
                    width: 11px;
                    height: 11px;

                    border-radius: 5px;
                    background-color: #EF7543;

                    &.notifications--active {
                        display: initial;
                    }

                    &.notifications--inactive {
                        display: none;
                    }
                }
            }

            .favorites {
                &-icon {
                    &:hover {
                        .path-one {
                            fill: $accent;
                        }

                        .path-two {
                            fill: $accent;
                        }
                    }

                    .path-one {
                        fill: none;
                    }

                    .path-two {
                        fill: $dark;
                    }
                }

                &__block {
                    position: absolute;
                    top: 80px;
                    right: -154px;

                    display: none;
                    width: 334px;
                    height: auto;

                    padding: 25px;
                    background-color: white;

                    &::before {
                        content: '';

                        position: absolute;
                        top: -20px;
                        right: 50%;
                        transform: translateX(50%);

                        border: 10px solid transparent;
                        border-bottom: 10px solid white;
                    }

                    &__message {
                        display: grid;
                        grid-template-columns: 53px auto;
                        grid-gap: 10px 15px;

                        padding-top: 20px;
                        padding-bottom: 20px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                        &:first-child {
                            padding-top: 0;
                        }

                        &:last-child {
                            padding-bottom: 0;
                            border-bottom: none;
                        }

                        .image {
                            width: 53px;
                            height: 53px;
                        }

                        .favorites-info {
                            align-self: center;

                            .status {
                                font-weight: 600;
                                font-size: 10px;
                                color: $dark;

                                opacity: 0.4;
                                margin-bottom: 3px;
                            }

                            .title {
                                font-weight: 600;
                                font-size: 14px;
                            }

                            .message-and-button {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-gap: 10px;

                                align-items: center;
                                margin-top: 8px;

                                .message {
                                    font-size: 12px;

                                    .price-status {
                                        opacity: .5;
                                    }
                                }

                                .button--delete {
                                    font-weight: 500;
                                    font-size: 12px;
                                    color: rgba(0, 0, 0, 0.5);

                                    padding-bottom: 1px;

                                    cursor: pointer;
                                    transition: .2s ease;
                                    border-bottom: 1px solid transparent;

                                    justify-self: end;

                                    &:hover {
                                        color: #EF7543;
                                        border-bottom: 1px solid #EF7543;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .user-account {
                &__block {
                    position: absolute;
                    top: 80px;
                    right: -50px;

                    display: none;
                    width: 300px;
                    height: auto;

                    background-color: white;

                    &::before {
                        content: '';

                        position: absolute;
                        top: -20px;
                        right: 50px;

                        border: 10px solid transparent;
                        border-bottom: 10px solid white;
                    }

                    .user-account__info {
                        display: grid;
                        grid-template-columns: 100%;

                        .personal-info {
                            display: grid;
                            grid-template-columns: 50px auto;
                            align-items: center;
                            margin: 15px 25px;

                            .image {
                                width: 50px;
                                height: 50px;
                            }

                            .name-and-status {
                                margin-left: 15px;

                                .name {
                                    font-weight: 600;
                                    font-size: 14px;
                                }

                                .status {
                                    font-weight: 500;
                                    font-size: 12px;

                                    margin-top: 4px;
                                    opacity: .5;
                                }
                            }
                        }

                        .balance {
                            padding: 15px 25px;
                            background-color: #F7F7F7;
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                            display: grid;
                            grid-template-columns: 52px auto;
                            grid-gap: 10px;
                            align-items: center;

                            .balance-text {
                                font-size: 14px;
                            }

                            .number-text {
                                font-size: 18px;

                                justify-self: end;
                            }
                        }

                        .vertical-menu {
                            padding: 5px 0;

                            li {
                                padding: 10px 25px;

                                &:hover {
                                    background-color: #F7F7F7;

                                    svg {
                                        fill: $accent;
                                    }
                                }

                                svg {
                                    fill: #D4D4D4;
                                    vertical-align: -3px;

                                    transition: .2s ease;
                                }
                            }
                        }
                    }

                    .user-account__exit {
                        .exit-text {
                            background-color: #2C2C2C;
                            border-top: 1px solid rgba(0, 0, 0, 0.1);
                            padding: 15px 25px;

                            color: rgba(255, 255, 255, .5);

                            &:hover {
                                color: rgba(255, 255, 255, .8);

                                svg {
                                    fill: rgba(255, 255, 255, .8);
                                }
                            }

                            svg {
                                fill: rgba(255, 255, 255, .5);
                                vertical-align: -3px;

                                transition: .2s ease;
                            }
                        }
                    }
                }
            }
        }
    }

    .search-form__container {
        display: none;
        
        position: absolute;
        top: 0;

        padding: 0 75px;
        height: 94px;
        background-color: white;
    }

    .search-form__container-grid {
        display: grid;
        grid-template-columns: 117px auto;
        grid-gap: 10px 30px;
        
        align-items: center;
        height: 100%;

        .search-form {
            position: relative;

            &__field-text {
                padding: 18px 0 18px 20px;
                background-color: white;
                border: 1px solid rgba(0, 0, 0, 0.1);

                width: 100%;
                cursor: text;
            }

            .image-button--submit {
                position: absolute;
                top: 50%;
                right: 8px;

                transform: translateY(-50%);
                cursor: pointer;

                padding: 6px;
                transition: .3s ease;

                &:hover {
                    background-color: #F7F7F7;
                }
            }

            .dropdown {
                display: none;

                position: absolute;
                width: 100%;
                padding: 25px;

                background-color: white;

                .category {
                    margin-top: 15px;

                    &:first-child {
                        margin-top: 0;
                    }

                    &__item-1 {
                        display: grid;
                        grid-template-columns: 1fr auto;
                        grid-gap: 10px;

                        margin-bottom: 5px;

                        .category-name {
                            font-weight: 600;
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.3);
                        }

                        .see-all-options--button {
                            font-weight: 600;
                            font-size: 12px;
                            color: $dark;

                            padding-bottom: 2px;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.2);

                            cursor: pointer;
                            transition: .3s ease;

                            &:hover {
                                color: rgba(0, 0, 0, 0.3);
                            }
                        }
                    }

                    &__item-2 {
                        .category-result {
                            display: grid;
                            grid-template-columns: 50px auto;
                            grid-gap: 10px;

                            padding: 16px 25px;
                            transition: .3s ease;
                            cursor: pointer;
                            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                            &:last-child {
                                border-bottom: none;
                            }

                            &:hover {
                                background-color: #F6F6F6;
                            }

                            &__block {
                                align-self: center;

                                .result-name {
                                    font-size: 16px;
                                }

                                .location-and-metro {
                                    display: flex;
                                    margin-top: 12px;

                                    >p {
                                        font-weight: 500;
                                        font-size: 12px;

                                        margin-right: 18px;

                                        &:last-child {
                                            margin-right: 0;
                                        }
                                    }

                                    .location {
                                        &::before {
                                            content: url('../../../img/icons/menu-icons/search-menu-icons/location.svg');
                                            width: 16px;
                                            height: 16px;
                                            margin-right: 5px;

                                            vertical-align: -3px;
                                        }
                                    }

                                    .metro {
                                        &::before {
                                            content: url('../../../img/icons/menu-icons/search-menu-icons/metro.svg');
                                            width: 16px;
                                            height: 16px;
                                            margin-right: 5px;

                                            vertical-align: -3px;
                                        }

                                        &::after {
                                            content: url('../../../img/icons/menu-icons/search-menu-icons/walking-man.svg');
                                            width: 12px;
                                            height: 12px;
                                            margin-left: 1px;

                                            vertical-align: -2px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes submenu-items-show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}